<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>수강안내</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet"
    href="fonts,_icomoon,_style.css+css,_owl.carousel.min.css+css,_bootstrap.min.css+css,_style.css.pagespeed.cc.f05hkyM1yJ.css" />
  <link href="css/header.css" rel="stylesheet">
  <style>
    .card {
      --bs-card-spacer-x: 1rem;
      --bs-card-title-spacer-y: 0.5rem;
      --bs-card-border-width: 1px;
      --bs-card-border-color: var(--bs-border-color-translucent);
      --bs-card-border-radius: 0.375rem;
      --bs-card-box-shadow: ;
      --bs-card-inner-border-radius: calc(0.375rem - 1px);
      --bs-card-cap-padding-y: 0.5rem;
      --bs-card-cap-padding-x: 1rem;
      --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
      --bs-card-cap-color: ;
      --bs-card-height: ;
      --bs-card-color:
        --bs-card-bg: #fff;
      --bs-card-img-overlay-padding: 1rem;
      --bs-card-group-margin: 0.75rem;
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      height: var(--bs-card-height);
      word-wrap: break-word;
      background-color: var(--bs-card-bg);
      background-clip: border-box;
      border: var(--bs-card-border-width) solid var(--bs-card-border-color);
      border-radius: var(--bs-card-border-radius);
    }

    .card-img-top {
      width: 158px;
      height: 158px;
    }

    .tit_h1:after {
      clear: both;
      content: "";
      display: block;
    }
  </style>
  <!-- header -->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <!-- 로고 이미지 -->
      <a href="#"><img src="icon/ycc_logo.png" alt="Young문화센터로고" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- 헤더 드롭다운 -->
      <div class="collapse navbar-collapse nav justify-content-center" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">시설안내</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">오시는 길</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">교육강좌</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">강좌신청안내</a></li>
              <li><a class="dropdown-item" href="#">강좌일정</a></li>
              <li><a class="dropdown-item" href="#">강좌검색</a></li>
              <li><a class="dropdown-item" href="#">통합검색</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">시설예약</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">대관이용안내</a></li>
              <li><a class="dropdown-item" href="#">대관현황</a></li>
              <li><a class="dropdown-item" href="#">대관신청</a></li>
              <li><a class="dropdown-item" href="#">사물함신청</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">커뮤니티</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">수강상세</a></li>
              <li><a class="dropdown-item" href="#">동아리</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">이용안내</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">공지사항</a></li>
              <li><a class="dropdown-item" href="#">이벤트/행사</a></li>
              <li><a class="dropdown-item" href="#">자주하는질문</a></li>
              <li><a class="dropdown-item" href="#">1:1문의</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- 로그인 / 회원가입 -->
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">회원가입</a>
        </li>
      </ul>

    </div>
  </nav>
</head>

<body>
  <div class="container pt-5 w-50">
    <div class="input-form col-md-12 mx-auto">
      <p class="fw-bolder fs-4">수강안내</p>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
               수강안내
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li class="fs-5">정규강좌 수업은 평균 주 1회, 3개월 12회를 기본으로 이루어집니다.</li>
                <li class="fs-5">강좌가 개강된 이후에는 수강하실 수 없으며, 예외적으로 수강시 수강료는 전액납부하셔야합니다.</li>
                <li class="fs-5">신청한 강좌의 연장 또는 타인 양도는 불가합니다.</li>
                <li class="fs-5">각 강좌는 정원에 따라 선착순으로 접수, 마감되며, 강좌 별 최소 인원이 미달 시 폐강될 수 있습니다.<br /> 폐강시 수강료는 환불해 드립니다.</li>
                <li class="fs-5">원활한 강의 진행을 위해 수강 회원만 강의 참여 가능합니다.</li>
              </ul>
            </div>
            <!--accordion-body -->
          </div>
          <!--collapseOne-->
        </div>
        <!--accordion-item-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              수강취소 시 유의사항
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ul>
                <li class="fs-5">강좌의 취소는 강좌 시작 전까지, 재료 준비 강좌는 2일전까지 가능합니다.</li>
                <li class="fs-5">강의 개강 후 취소는 평생교육법 시행령 학습비 반환기준에 의거하여 환불합니다.</li>
                <p class="fs-5"> * 1개월 이내 강좌 : 강좌 진행 1/3, 1/2 경과 전 각 2/3, 1/2 환불, 1/2 이상 경과 시 환불 불가 <br />
                  * 1개월 초과 강좌 : 1개월 이내 기준 적용 환불 + 잔여월분 환불</p>
                <li class="fs-5">온라인으로 신청한 강좌의 카드결제 취소는 카드사에 따라 처리기간이 다소 차이가 있으며, 최종 결제 승인취소는 온라인으로 취소신청 한 시점에서 10일 경과 후
                  확인 하실 수 있습니다.</li>
                <li class="fs-5">온 라인 수강신청 시에도 부분 취소가 가능합니다.</li>
                <li class="fs-5">온라인 결제 후 90일이 지난 강좌는 방문 후 현금취소만 가능합니다.<br />
                  (※여신전문금융업법 제 27조 4에 의거)</li>
              </ul>
            </div>
            <!--accordion-body -->
          </div>
          <!--collapseTwo-->
        </div>
        <!--accordion-item-->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed fs-5" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              신청안내
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="d-flex flex-row justify-content-around">
                <div class="row">
                <div class="col p-2">
                    <img src="https://www.mapo.go.kr/design/theme/mll/images/mll-img-list_bg01.gif"
                      class="card-img-top " alt="...">
                    <p class="card-text fs-4 pt-3 text-center">1.로그인</p>
                </div>
                <div class="col p-2">
                    <img src="https://www.mapo.go.kr/design/theme/mll/images/mll-img-list_bg02.gif"
                      class="card-img-top " alt="...">
                    <p class="card-text fs-4 pt-3 text-center">2.강좌 선택</p>
                </div>
                <div class="col p-2">
                    <img src="https://www.mapo.go.kr/design/theme/mll/images/mll-img-list_bg03.gif"
                      class="card-img-top " alt="...">
                    <p class="card-text fs-4 pt-3 text-center">3.강좌 확인</p>
                </div>
                <div class="col p-2">
                    <img src="https://www.mapo.go.kr/design/theme/mll/images/mll-img-list_bg04.gif"
                      class="card-img-top " alt="...">
                    <p class="card-text fs-4 pt-3 text-center">4.신청</p>
                </div>
              </div>
            </div>
              <!--d-flex flex-row justify-content-around-->
              <div>
                  <p class="fs-4 pt-5 mb-1">로그인</p>
                  <p class="fs-5">YOUNG문화센터 수강신청 시 로그인 후 이용가능합니다.</p>
                </div>
                <div>
                  <p class="fs-4 mb-1">강좌 선택</p>
                  <p class="fs-5">원하는 강좌를 선택합니다.</p>
                </div>
                <div>
                  <p class="fs-4 mb-1">강좌 확인</p>
                  <p class="fs-5">강좌 선택 후 시간, 장소 등 강좌정보를 확인합니다.</p>
                </div>
                <div>
                  <p class="fs-4 mb-1">강좌 신청</p>
                  <p class="fs-5">유료수강인 경우 온라인 결제가 가능합니다.</p>
                </div>
            </div>
            <!--accordion-body -->
          </div>
          <!--collapseThree-->
        </div>
        <!--accordion-item-->
      </div>
      <!--accordionExample-->
    </div>
    <!--input-form col-md-12 mx-auto-->
  </div>
  <!--container-->
  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>
<!-- footer 시작 -->
<div class="bg-light mt-5 border-top border-1">
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center my-1">

      <p class="col-md-4 mb-0 text-muted">
        <img class="img-fluid" src="icon/ycc_logo.png" style="width: 100px; height: 100px;"><br>
        서울특별시 서초구 서초4 서초대로77길<br>
        Tel : 02-123-1234 / Fax : 02-123-1235<br>
        사업자등록번호 : 123-80-12345<br>
        김영채 최나리 전수정 김성호 최선혜 최연희 김지호<br>
        <br>
        &copy; YOUNG’teve Jobs All rights reserved
      </p>

      <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        스크롤하는 이미지 구현 부
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap" />
        </svg>
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
    </footer>
  </div>
</div>

</html>